#python based ignores
*.py[cod]
python/__pycache__/
python/lib/
python/include/
python/pip-selfcheck.json
python/bin
*.whl

#node ignores
node_modules/
npm-debug.log
#generated run script
run.js

#ignore settings files
settings.json
webcam-*.json
arm-*.json

#ignores for certificate files
helperscripts/cacert
helperscripts/cert
helperscripts/client-cert
*.pem

#ignore vscode files
.vscode/

#log files
*.log
