#python based ignores
*.py[cod]
python/__pycache__/
python/lib/
python/include/
python/pip-selfcheck.json

#node ignores
node_modules/
node/npm-debug.log
package-lock.json

#ignore vscode files
.vscode/