#python based ignores
*.py[cod]
python/__pycache__/
python/lib/
python/include/
python/pip-selfcheck.json
python/bin
*.whl

#node ignores
node_modules/
node/npm-debug.log

#ignore settings files
settings.json

#ignores for certificate files
helperscripts/cacert
helperscripts/cert
helperscripts/client-cert
cert.pem
key.pem
cacert.pem

#ignore vscode files
.vscode/