#request {
   text-align: center;
   font-weight: bold;
   font-size: 20px;
   margin-top:40px;
}

.admin_login_req_table,
.admin_timeslot_req_table {
   border-collapse: separate;
   margin: 20px auto 20px auto;
   left: 50%;
   table-layout: auto;
   width: 900px;
   margin: 20px auto 20px auto;
}

.admin_login_req_table td {
    text-align: center; 
    vertical-align: middle;
}

.admin_timeslot_req_table td {
    text-align: center; 
    vertical-align: middle;
}

.admin_timeslot_row,
.admin_login_row {
   
}

.admin_timeslot_row:nth-child(even) {
   background-color: #d2d2d2;
}

.admin_login_row:nth-child(even) {
   background-color: #d2d2d2;
}

.admin_timeslot_row:nth-child(odd) {
   background-color: #f0f0f0;
}

.admin_login_row:nth-child(odd) {
   background-color: #f0f0f0;
}

.admin_timeslot_element,
.admin_login_element {
   padding: 0 15px 0 15px;
   text-align: center;
   vertical-align: center;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.admin_button {
   width: 70px;
   height: 30px;
   cursor: pointer;
   padding: 1.5px;
   margin: 10px 20px;
}
