#login_requests {
    border-collapse: collapse;
    margin: 20px auto 20px auto;
    left: 50%;
}

#timeslot_requests {
    border-collapse: collapse;
    margin: 20px auto 20px auto;
    left: 50%;
}

.admin_login_req_table {
   margin: 20px auto 20px auto;
}

.admin_timeslot_req_table {
   margin: 20px auto 20px auto;
}

