#request {
   text-align: center;
   font-weight: bold;
   font-size: 20px;
}

#login_requests {
    border-collapse: collapse;
    margin: 20px auto 20px auto;
    left: 50%;
}

#timeslot_requests {
    border-collapse: collapse;
    margin: 20px auto 20px auto;
    left: 50%;
}

.admin_login_req_table {
   margin: 20px auto 20px auto;
}

.admin_timeslot_req_table {
   margin: 20px auto 20px auto;
}

.admin_timeslot_row {
   
}

.admin_timeslot_row:nth-child(even) {
    background-color: #d2d2d2;
}

.admin_timeslot_row:nth-child(odd) {
    background-color: #f0f0f0;
}

.admin_timeslot_element {
   padding: 0 15px 0 15px;
   text-align: center;
   vertical-align: center;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.admin_button {
   padding: 10px 5px;
}