/*
Break points:
35 till 1460
40 till 1280
45 till 1335
50 till 1024
55 till 932
60 to 852
less, and we don't support it
...
probably
*/
#cameras {
    width: 40%;
    display: inline-block;
    margin: 0;
}
.pendant {
    background-color: #777;
    float: right;
    height: 100%;
    margin: -40px 0 0 0;
    width: 60%;
}

@media (min-width: 932px){
    .pendant {
        width: 55%;
    }
    #cameras {
        width: 45%;
    }
}
@media (min-width: 1024px){
    .pendant {
        width: 50%;
    }
    #cameras {
        width: 50%;
    }
}
@media (min-width: 1134px){
    .pendant {
        width: 45%;
    }
    #cameras {
        width: 55%;
    }
}
@media (min-width: 1280px){
    .pendant {
        width: 40%;
    }
    #cameras {
        width: 60%;
    }
}
@media (min-width: 1460px){
    .pendant {
        width: 35%;
    }
    #cameras {
        width: 65%;
    }
}

.camP {
   width: 400px;
   height: 250px;
   margin: 75px auto 0;
   display: block;
   border: 5px solid #111;
}
canvas {
   background-color:#ffffff;
}
.column {
   float:left;
   width: 100;
   padding: 0px 10px 10px 10px;
}
.column1 {
   float:left;
   width: 100;
   padding: 20px;
   margin-left:2px;
}
.column2 {
   float:left;
   width: 100;
   padding: 20px;
}
.row:after {
   content: "";
   display: table;
   clear: both;
}
.rowTop {
   padding: 15px 10px 10px 10px;
   content: "";
   display: table;
   clear: both;
   margin: auto;
}
.button {
   background-color:#d2d2d2;
   border: none;
   color: black;
   padding: 4px 5px;
   width: 60px;
   text-align: center;
   font-size: 10px;
   margin: 1px 1px;
   cursor: pointer;
}
.buttonTop {
   padding: 8px 10px;
   width: 96px;
   text-align: center;
   font-size: 10px;
   margin: 1px 1px;
   cursor: pointer;
}
.button1 {
   padding: 8px 10px;
   width: 60px;
   height: 40px;
   text-align: center;
   font-size: 10px;
   margin: 1px 1px;
   cursor: pointer;
}
.btnimg {
   background-repeat: no-repeat;
   background-position: center;
}
.blue {
   background-color: #0080FF;
   color: black;
}
.blk {
   background-color: #111;
   color: #fff;
}
.notTop {
   margin: auto;
   display: table;
}
#camera_preview > .cam {
   display: inline-block;
   height:110px;
   width:195px;
   margin-top: 25px;
   margin-left: 50px;
}

#mainCamera > .cam {
   width:100%;
}
