   .canvas{
         float:left;
         width: 45%;
         margin: 15px 20px 15px 20px;
      }
      
   .column {
        float:left;
        width: 100;
        padding: 0px 10px 10px 10px;
      }

   .column1 {
        float:left;
        width: 100;
        padding: 20px;
        margin-left:10px;
      }
   .column2 {
        float:left;
        width: 100;
        padding: 20px;

      }
   .row:after {
        content: "";
        display: table;
        clear: both;
      }
   .rowTop{
        padding: 15px 10px 10px 10px;
        content: "";
        display: table;
        clear: both;
      }
   .button{
        background-color:#d2d2d2;
        border: none;
        color: #333;
        padding: 4px 5px;
        width: 60px;
        text-align: center;
        font-size: 10px;
        margin: 1px 1px;
        cursor: pointer;
      }
   .buttonTop{
       padding: 8px 10px;
       width: 96px;
       text-align: center;
       font-size: 10px;
       margin: 1px 1px;
       cursor: pointer;
      }
   .button1{
       padding: 8px 10px;
       width: 60px;
       height: 40px;
       text-align: center;
       font-size: 10px;
       margin: 1px 1px;
       cursor: pointer;
      }