.pagination tr.inactive
{
   display: none;
}

.pager
{
   color: black;
   text-align: center;
   padding: 5px 16px;
   text-decoration: none;
}

.pager .pager-item
{
   padding: 5px 10px;
   text-align: center;
   display: inline-block;
   cursor: pointer;
   transition: .5s background-color;
   border-radius: 25px;
}

.pager .pager-item:hover
{
   background-color: #ddd;
   border-radius: 25px;
}

.pager .pager-item.selected
{
   background-color: #ffcd00;
   border-radius: 25px;
}