.pagination tr.inactive
{
    display: none;
}

.pager
{
   color: black;
   float: left;
   padding: 8px 16px;
   text-decoration: none;
}

.pager .pager-item
{
    padding: 10px;
    border: solid 1px #fff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: .5s background-color;
}

.pager .pager-item:hover
{
    background-color: #ddd;
    border-radius: 5px;
}

.pager .pager-item.selected
{
    background-color: #ffcd00;
    border-radius: 5px;
}