#content {
    overflow-x: scroll;
}
#my_req_table {
    display: none;
    border-collapse: collapse;
    margin: 20px auto 20px auto;
}

#req_table_div {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 0 0 19%;
    width: 80%;

}

.block {
    display: block;
}

.request_table_element{
    text-align: center;
    vertical-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.delete_button {
    width: 60px;
    height: 20px;
    background-color: #ffcd00;
    border-radius: 30px;
    border: 1px solid #f1d573;
    cursor: pointer;
    padding: 1.5px;
}

.request_table_row:nth-child(odd) {
    background-color: #d2d2d2;
}

.request_table_row:nth-child(even) {
    background-color: #f0f0f0;
}

.request_table_cell{
    padding: 0 15px 0 15px;
}

#div_key {
   box-sizing: border-box;
   margin: 52px 0 0 35px;
   vertical-align: top;
   display: inline-block;
   width: auto;
}

#table_div {
    display: inline-block;
    box-sizing: border-box;
    width: 80%;
    margin: 0;
    vertical-align: middle;
}

#schedule_table {
   border-collapse: collapse;
   position: relative;
   left: 50%;
   top: 30%;
   margin-top: 20px;
   margin-left: -387.1px;
}

.schedule_table_element {
    text-align: center;
    vertical-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.schedule_table_cell {
    width: 100px;
}

.schedule_table_row:nth-child(even) {
    background-color: #d2d2d2;
}

.schedule_table_row:nth-child(odd) {
    background-color: #f0f0f0;
}

#schedule_key {
    display: table;
    text-align: center;
    margin: auto;
}

.td_accepted {
    background-color: #358C2F;
}

.td_pending {
    background-color: #173753;
    color: #f0f0f0;
}

.td_other_accepted {
    background-color: #931621;
    color: #f0f0f0;
}

.td_other_pending {
    background-color: #ffcd00;
}

.td_selected {
    background-color: #D37139;
    
}

#req_submit{
   float: none;
   display: block;
   width: 80px;
   height: 30px;
   background-color: #ffcd00;
   border-radius: 30px;
   border: 1px solid #f1d573;
   cursor: pointer;
}

.submit_btn {
   color: black;
    text-align: -webkit-center;
    padding: 5px 16px;
    text-decoration: none;
}